html, body{
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

body{
  margin: 0;              
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}


.converter-mode{
background-color: lightgray;
}

button{
    cursor: pointer;
}
.converter-mode main{
    background-color: floralwhite;
    border: 2px dashed #5b52ac; 

}

.converter-mode #header{
    background-color: floralwhite;
    color: #708090;
    border-bottom: 1px solid #DCDCDC;
} 

.converter-mode #option-nav a{
    color: #708090;

}

.converter-mode #option-nav a:hover{
    color: #000000;
}

.converter-mode #option-nav a:active{
    color: seagreen;
}

.converter-mode #label-input{
    color: black;
}
.converter-mode #btn-download{
    background-color: #2e8b57;
    color: white;
}

.converter-mode #file-name{
    color: #566f87;
}

.converter-mode .format-item button{
    background-color: floralwhite;
    color: dimgray;
}

.converter-mode .format-item button:hover{
    background-color: #dcdcdc;
    color: black;
}

.converter-mode .format-item button:active{
    background-color: #807c7c;
    color: white;
}

.extract-mode{
    background-color: #6d4bb3;
}

.extract-mode #header{
    background-color: #a27af3;
    color: indigo;
    border-bottom: 1px solid #B5D870;
}

.extract-mode #option-nav a{
    color: indigo;
}


.extract-mode #option-nav a:hover{
    color: rgb(0, 0, 0);
}

.extract-mode #option-nav a:active{
    color: #310054;
}

.extract-mode #label-input{
    color: darkblue
}

.extract-mode #btn-download{
    background-color: #B5D870;
    color: #5C34AB;
}

.extract-mode main{
    background-color: #a27af3;
    border: 2px dashed #B5D870;
}

.extract-mode #file-name{
    color: #6b4fa5;
}

.extract-mode .format-item button{
    background-color: #926ed9;
    color: darkblue;
}
.extract-mode .format-item button:hover{
    background-color: #a17fe5;
    color: #13de78;
}

.extract-mode .format-item button:active{
    background-color: #7b4de8;
    color: white;
}

main{
    width: 450px;
    height: 18px;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.4s ease, border 0.4s ease;
}

a{
    text-decoration: none
}

#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

ul{
    list-style: none;
    gap: 2vh;
}

#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 5vh;
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

#guest-options, #user-options{
    display: flex;
    gap: 15vh;
    align-items: center;
}

nav{
    display: flex;
    gap: 15vh;
    margin-right: 10vh;
    align-items: center;
}
nav a {
    font-weight: bold;
    cursor: pointer;
    transition: color 0.4s ease, box-shadow 0.4s ease;

}

#drag-overlay{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    color: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#drag-overlay.active{
    opacity: 1;
    visibility: visible;
}

#message{
    font-size: 2rem;
    font-weight: bold;
    border:  3px dashed white;
    padding: 20px;
}

#file-name{
    font-weight: bold;
}

#label-Input{
    cursor: pointer;
}


#file-Input{
    display: none;
}

#format-list{
    display: none;
}

#btn-download{
    display: none;
    margin-top: 5vh;
    padding: 15px;
    font-weight: bold;    
    text-decoration: none;
    border-radius: 5px;
    justify-self: center;
    transition: background-color 0.4s ease;
}

#loading-text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}

#div-loading{
    display: none;
}

#loading-container{
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

#spinner{
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    flex-shrink: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header{
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .3);
}

.format-item button{
    margin-bottom: 2px;
    padding: 9px;
    min-width: 20vh;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .3);
    transition: background-color 0.4s ease, color 0.4s ease;

}

.format-item button:hover{
    transition: background-color 0.4s ease, color 0.4s ease;
}


