body{
    margin: 0;              
  display: flex;            
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  background: rgb(102, 37, 0);
  
}

main{
    background-color: white;
    color: black;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}
ul{
    list-style: none;
    border-radius: 5px;
}
#drag-overlay{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    color: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#drag-overlay.active{
    opacity: 1;
    visibility: visible;
}

#message{
    font-size: 2rem;
    font-weight: bold;
    border:  3px dashed white;
    padding: 20px;
}

#file-name{
    font-weight: bold;
    color: red;
}
#label-Input{
    cursor:pointer;
}

#file-Input{
    display: none;
}

#format-list{
    display: none;
}

#btn-download{
    display: none;
        margin-top: 20px;
        padding: 10px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        align-items: center;
        align-self: center;
        justify-self: center;
}
#loading-text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}

#div-loading{
    display: none;
}
#loading-container{
    gap: 25px;
     justify-content: center;

}
#spinner{
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    flex-shrink: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header{
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .3);

}

.format-item button{
    margin-bottom: 2px;
    padding: 5px;
    min-width: 150px;
}

