<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter arquivo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="converter-mode">
<dialog id="popup" style="display: none;">
    <p id="popup_message"></p>
    <button id="close_popup">X</button>
</dialog>
    <header id="header">
    <h1 id="logo">Conversor de Arquivos</h1>
    <nav id="option-nav">
        <div id="guest-options">
        <a id="login-button" href="/login">Login</a>
        <a id="register-button" href="/createAccount">Registrar</a>
        </div>
            
        <div id="user-options" style="display: none;">
        <span>Olá, <strong id='show-username'></strong></span>
        <a id='logout' onclick="logout()">Sair</a>
        </div>
        <a id="home-button" href="/">Casa</a>
        <a id="extract-button" onclick="audioExtractPage()">Extrair áudio</a>
        
    </nav>
</header>
<div id="main-container">
<main>
    <div>
    <div id="drag-overlay">
        <span id="overlay-message">Solte o arquivo aqui</span>
    </div>
        
    <div id="file-card">
    <label id="label-Input" for="file-Input">
        <strong>Clique para selecionar</strong> ou arraste o arquivo aqui
    </label>
    <input id="file-Input" type="file">
    <p id="file-name" style="display: none;"></p>
    
    <a id="btn-download" href="#">
    Baixar Arquivo Convertido
</a>
        
<div id="loading-container">    
        <div id="div-loading">
            <div id="spinner"></div>
        </div>
         <p id="loading-text"></p>
    </div>
</div>   
</div>
</main>

<ul id="format-list"></ul>

</div>


<script src="formScript.js"></script>
<script src="script.js"></script>
</body>
</html>