<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter arquivo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header id="header">
    <h1>Conversor de Arquivos</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/">Extrair áudio</a>
    </nav>
</header>
<div id="main-container">
<main>
    <div>
    <div id="drag-overlay">
        <span id="overlay-message">Solte o arquivo aqui</span>
    </div>
        
    <div id="file-card">
    <label id="label-Input" for="file-Input">
        <strong>Clique para selecionar</strong> ou arraste o arquivo aqui
    </label>
    <input id="file-Input" type="file">
    <p id="file-name" style="display: none;"></p>
    
    <a id="btn-download" href="#">
    Baixar Arquivo Convertido
</a>
    
<div id="loading-container">    
        <div id="div-loading">
            <div id="spinner"></div>
        </div>
         <p id="loading-text"></p>
    </div>
</div>   
</div>
</main>

<ul id="format-list"></ul>

</div>


<script src="/script.js"></script>
</body>
</html>