#drag-overlay{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    color: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#drag-overlay.active{
    opacity: 1;
    visibility: visible;
}

#message{
    font-size: 2rem;
    font-weight: bold;
    border:  3px dashed white;
    padding: 20px;
}
main{
    height: 100vh;;
}

#label-Input{
    cursor:pointer;
}

#file-Input{
    display: none;
}

#format-list{
    display: none;
}

#btn-download{
    display: none;
}



